{% extends "base.html" %}
{% load thumbnail %}
{% load url from future %}
{% load staticfiles %}
{% block extra_js %}
<link rel="stylesheet" href="/static/css/mixitup.css">

 <script>
    $(function(){
        $('#Container').mixItUp();
      });
    $('.menu a.menu2').addClass('activate');
 </script>
  
{% endblock extra_js %}

{% block contenido %}

<div class="quienesfondo">
  <img src="/media/{{foto_publicacion.foto}}" alt="">
  <div class="row"><h1 class="text-center texto">{{foto_publicacion.titulo}}</h1></div>
</div>
<!-- inicia el buscador y redes sociales -->
<div class="cta-bar">
  <div class="row">
      <div class="large-7 medium-7 columns">
          <section class="search" role="search">
            <form id="search-form" action="/search-general/", method="GET">
                <input id="search-input" type="text" role="search" value="Buscar..." name="q" id="q" onblur="if (this.value == '') { this.value = 'Buscar...';}" onfocus="if (this.value == 'Buscar...'){this.value = '';}" placeholder="Buscar...">
                <label for="search-input" class="ui-search"></label>
            </form>
          </section>
      </div>
      <div class="large-5 medium-5 columns">
        <div class="filtros right">
          <p>Filtrar por:</p>
          <li class="buton"><a href="/publicaciones/">Todos</a></li>
          <li class="buton"><a href="/publicaciones/cidoc/">CIDOC</a></li>
          <li class="buton"><a href="/publicaciones/simas/">SIMAS</a></li>
        </div>
      </div>
  </div>
</div>
<!-- finaliza el buscador y la red social -->

<div class="row section">
  <div id="Container">
  {% if query %}
    <div class="resultespacio">
    Se encontraron: {{page.paginator.count}} resultados de su busqueda: {{query}}
    </div>
  {% else %}
    No se encontro coincidencia en su búsqueda
  {% endif %}

    {% for obj in page.object_list %}
      <div class="text-center">
        <div class="list-post-news">
          {% if obj.noticia %}
            <!--{% thumbnail obj.object.foto "750x400" crop="10%" as img %}
                <div class="img-news-list"><a href="{% url 'detalle-noticia' obj.object.id obj.object.uri %}"><img class="th" src="/media/{{img}}"></a></div>
            {% empty %}
              <div class="img-news-list"><a href="{% url 'detalle-noticia' obj.object.id obj.object.uri %}">
              <img src="http://placehold.it/750x400"></a></div>
            {% endthumbnail %} -->
            <h2 class="tlist-news"><a href="{% url 'detalle-noticia' obj.object.id obj.object.uri %}">{{obj.object.noticia}}</a></h2>
            <div class="news-post-list">{{ obj.object.texto|striptags|safe|truncatewords:60 }} <a href="{% url 'detalle-noticia' obj.object.id obj.object.uri %}">Ver más</a></div>     

          {%elif obj.publicacion %}

          <!--{% thumbnail obj.object.portada "750x400" crop="10%" as img %}
                <div class="img-news-list"><a href="{% url 'detalle-publicacion' obj.object.id obj.object.uri %}"><img class="th" src="/media/{{img}}"></a></div>
            {% empty %}
              <div class="img-news-list"><a href="{% url 'detalle-publicacion' obj.object.id obj.object.uri %}">
              <img src="http://placehold.it/750x400"></a></div>
            {% endthumbnail %} --> 
            <h2 class="tlist-news"><a href="{% url 'detalle-publicacion' obj.object.id obj.object.uri %}">{{obj.object.publicacion}}</a></h2>
            <div class="news-post-list">{{ obj.object.resumen|striptags|safe|truncatewords:60 }} <a href="{% url 'detalle-publicacion' obj.object.id obj.object.uri %}">Ver más</a></div> 
          {% endif %}
          
        </div>
      </div>
      {% endfor %}
      </div>
  </div>
</div>

<div class="pagination-centered">
    <span class="step-links">
        {% if page.has_previous %}
            <a href="?q={{ query }}&amp;page={{ page.previous_page_number }}">Anterior</a>
        {% endif %}

        <span class="current">
            Pagina {{ page.number }} de {{ page.paginator.num_pages }}.
        </span>

        {% if page.has_next %}
            <a href="?q={{ query }}&amp;page={{ page.next_page_number }}">Próximo >></a>
        {% endif %}
    </span>
</div>


<hr>
{% include "footer.html" %}

{% endblock contenido %}