@font-face {
    font-family: 'Roboto-Light';
    src: url('Roboto-Light.ttf');
}
/* --------------------------------------------------------------
   Site Styles
   -------------------------------------------------------------- */

.timeline_element_box{
    font-family: "Roboto-Light";
}

div.timeline_title span.timeline_title_label{
    font-size: 11px !important;
}

div.timeline_title span.timeline_title_date {
    font-size: 11px !important;
}


#txtvideo{
  font-size: 12px !important;
  margin: 1em 0 0 -1em;
}

#more {
          color: #bcbec0;
          font-size: 14px;
          font-weight: 700;
        }
#more:hover { color: #00a750; }

#avideo{
    margin-left: -1em;
    width: 8em
}

.txtv{
    width: 6em;
}

#tituloServ{
    font-size: 16px;
font-family: "Roboto-Light";
color:#656d78;
margin: 0 auto;
padding: 8% 25% 3% 25%;
text-align: center;
}

#hrp{
     margin: -1em 0 0.5em 0
}

#valores li{
    list-style: square;
}

li{
    text-align: justify;
}

.espacio{
    margin-top: 5em
}

ol{
    list-style:
}

#dropDown option{
    color: black;
}

#dropDown{
    color: black;
    margin: 0 auto,

}

.video{
  left: -15px;
}

#newBtn{
    background-color: #f1f3f2;
    color: green;
    top: 0;
}


body {
    font-size: 100%;
    font-family: 'Roboto-Light', Helvetica, Arial, sans-serif;
    width:auto; height:auto;
    min-width: 320px;
    padding: 0;
    margin: 0;
    color: #656d78;
    background: #fff;
    -moz-font-smoothing: antialiased;
    -moz-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased; /* Fix for webkit rendering */
    -webkit-text-size-adjust: 100%;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto', Arial, sans-serif;
    margin: 0;
}

button{
  font-family: 'Roboto', sans-serif;
}

header[role=main] {
    background: rgba(0,0,0,0.5);
    position: fixed;
    width: 100%;
    overflow: hidden;
    padding: 35px 0;
    z-index: 9999;
    -webkit-transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
    -o-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
}
header[role=main]:before,
header[role=main]:after,
footer[role=main]:before,
footer[role=main]:after {
    content: " ";
    display: table;
}
header[role=main]:after,
footer[role=main]:after { clear: both; }

footer[role=main] {
    float: left;
    width: 100%;
    position: relative;
    overflow: hidden;
}

header[role=main] nav {
    position:relative;
    margin:0;
    font-family:'Roboto-Light', Helvetica, Arial, sans-serif;
    font-weight: 700;
    text-transform: uppercase;
}
header[role=main] nav:after { clear:both; content:""; display:block }
header[role=main] nav ul {
    float:right;
    padding:0;
    margin:0;
    list-style-type:none
}
header[role=main] nav li {
    font-size: 14px;
    padding: 19px 0;
    margin: 0 5px;
    display:inline-block;
    position:relative;
    cursor:pointer
}
header[role=main] nav li a,
header[role=main] nav li a:visited {
    color:#fff;
    text-decoration:none;
    -webkit-transition: all 400ms ease-in-out;
    -moz-transition: all 400ms ease-in-out;
    -o-transition: all 400ms ease-in-out;
    transition: all 400ms ease-in-out;
}
header[role=main] nav li a:hover,
header[role=main] nav li:focus,
header[role=main] nav li.current-menu-item a { color: rgba(255,255,255,0.6); }

header[role=main] nav li a:before,
header[role=main] nav li.current-menu-item a:before {
    background: #fff;
    content: "";
    position: absolute;
    top: 10px;
    left: 50%;
    height: 1px;
    margin-left: -15px;
    width: 30px;
    opacity: 0;
    -webkit-transition: all 0.2s cubic-bezier(0.805, 0.075, 0.315, 1.410);
    -moz-transition: all 0.2s cubic-bezier(0.805, 0.075, 0.315, 1.410);
    -o-transition: all 0.2s cubic-bezier(0.805, 0.075, 0.315, 1.410);
    transition: all 0.2s cubic-bezier(0.805, 0.075, 0.315, 1.410);
}

header[role=main] nav li a:hover:before,
header[role=main] nav li.current-menu-item a:before {
    opacity: 1;
}

.fixed {
    padding: 15px 0 !important;
    background: rgba(34,34,34,0.9) !important;
}

/* --------------------------------------------------------------
   Content Styles
   -------------------------------------------------------------- */
   .wrapper {
    z-index: 10;
    top: 0;
    left: 0;
}
#content {
    clear: both;
    float: left;
    display: block;
    width: 100%;
}

.home-slider {
    float: left;
    margin: 0;
    position: relative;
    width: 100%;
    height: 540px;
    overflow: hidden;
}

a.all {
    color: #bcbec0;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 1.5;
    padding-right: 20px;
    background: url('../img/arrow.png') center right no-repeat;
}
a.all:hover {
    color: #00a750;
}

#filtro{
    color: white;
    list-style: none;
    float: right;
    display: inline;
    margin-top: 0.7em;
    display: inline;
}

#filtro li a{
    color: white;
    font-weight: bold;

}


#filtro li{
    background-color: #008641;

}

#filtro li:hover{
    opacity: 0.3;

}


.cta-bar {
    clear: both;
    float: left;
    display: block;
    position: relative;
    background: #00a750;
    height: auto;
    width: 100%;
}
.cta-bar button[disabled] { background-color: #00a750;}
.cta-bar button:hover { background: rgba(0,0,0,0.4);}
.botonfiltro { background: rgba(0,0,0,0.4);}
.search { overflow: hidden; }
.search form {
    margin: 0;
    padding: 0;
    width: 100%;
}
.search label[for="search-input"] {
    height: 80px;
    position: absolute;
    top: 0;
    width: 80px;
    cursor: pointer;
    display: block;
    background: rgba(0,0,0,0.2);
}
.search .ui-search:before {
    content: url('../img/search-icon.png');
    position: absolute;
    top: 50%;
    left: 50%;
    width: 24px;
    height: 24px;
    margin: -12px 0 0 -12px;
    text-align: center;
    display: block;
    text-indent: 0;
    line-height: 24px;
}
.search input {
    font-size: 20px !important;
    position: relative;
    margin: 0 0 0 80px;
    /*width: 100%;*/
    height: 100% !important;
    height: 80px !important;
    padding: 0px 15px !important;
    background: transparent !important;
    border: 0 !important;
    color: #fff !important;
    z-index: 1;
    box-shadow: none !important;
    -webkit-transition: all 0.1s linear !important;
    -moz-transition: all 0.1s linear !important;
    -o-transition: all 0.1s linear !important;
    transition: all 0.1s linear !important;
}
.search input:focus { background: rgba(0,0,0,0.2) !important; }
.btn-search { display: none; }
.search ::-webkit-input-placeholder { color: rgba(0,0,0,0.5); }
.search :-moz-placeholder { color: rgba(0,0,0,0.5); }
.search ::-moz-placeholder { color: rgba(0,0,0,0.5); }
.search :-ms-input-placeholder { color: rgba(0,0,0,0.5); }

.social-icons {
    position: relative;
    float: right;
}
.social-icons ul {
    margin: 24px 0;
    overflow: hidden;
}
.social-icons li {
    float: left;
    display: block;
    width: 32px;
    height: 32px;
    overflow: hidden;
    text-indent: -9999px;
    position: relative;
    margin-left: 20px;
}
.social-icons li a {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
}
.social-icons li.youtube a {
    background: url('../img/icon-yt.png') center center no-repeat;
}
.social-icons li.youtube a:hover {
    background: url('../img/icon-yt-color.png') center center no-repeat;
}
.social-icons li.twitter a {
    background: url('../img/icon-tw.png') center center no-repeat;
}
.social-icons li.twitter a:hover {
    background: url('../img/icon-tw-color.png') center center no-repeat;
}
.social-icons li.facebook a {
    background: url('../img/icon-fb.png') center center no-repeat;
}
.social-icons li.facebook a:hover {
    background: url('../img/icon-fb-color.png') center center no-repeat;
}
.social-icons li.google a {
    background: url('../img/ico-gogleplus.png') center center no-repeat;
}
.social-icons li.google a:hover {
    background: url('../img/ico-gogleplus-color.png') center center no-repeat;
}


/* ----------------------------------------------------------------
    NOTICIAS
    ------------------------------------------------------------------*/

    .section {
        overflow: hidden;
        position: relative;
        width: 100%;
        padding: 50px 0 60px;
    }
    .section-title {
        font-size: 1.875em;
        margin-bottom: 25px;
        color: #55606E;
    }
    .moverVer a {
      color: #bcbec0;
  }
  .moverVer a {
      margin-top: -49px;
      margin-right: 12px;
  }
  .moverVer a:hover{
    font-weight: bold;
}
.news { background: #f1f2f2; }
.news .item {
    background: #fff;
    color: #bcbec0;
}
.item figure {
    margin: 0;
    padding: 0;
}
.item figure img { width: 100%; }

.item figcaption {
    padding: 1.5em;
    min-height: 120px;
}

.item figcaption p {color: #787A7C}

.item figcaption h3 { font-size: 18px; line-height: normal; color: #55606E;}
.item .meta {
    padding: 1em;
    border-top: 1px solid rgba(0,0,0,0.1);
}
.item .meta h6 {
    font-size: 14px;
    font-family: 'Roboto', Helvetica, Arial, sans-serif;
    color: #bcbec0;
    font-weight: 400;
}
.item .meta h6 a, .item .meta h6 a:visited {
    text-transform: uppercase;
    font-weight: 700;
    color: #bcbec0;
}
.item .meta h6 a:hover { color: #55606e; }

/* -----------------------------------------------------
       PUBLICACIONES
       ------------------------------------------------------*/
       .pbn {
        padding: 1em;
        background: #f1f2f2;
        position: relative
    }
    .pbn:before {
        content: "";
        position: absolute;
        bottom: 0;
        right: 0;
        border-width: 35px 35px 0 0;
        border-style: solid;
        border-color: #bcbec0 #fff;
        z-index: 100;
    }
    .pbn figure {
        margin: 0;
        padding: 0;
        position: relative;
        z-index: 10;
    }
    .pbn figure a { display: block; position: relative; }
    .pbn figure .mask {
        display: block;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        opacity: 0;
        overflow: hidden;
        background: rgba(107,192,75,0.9);
        -webkit-transition: all 0.2s ease-in-out;
        -moz-transition: all 0.2s ease-in-out;
        -o-transition: all 0.2s ease-in-out;
        -ms-transition: all 0.2s ease-in-out;
        transition: all 0.2s ease-in-out;
    }
    .pbn figure a:hover .mask { opacity: 1; }
    .pbn figure h3 {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        padding: 0.9375em;
        /*text-align: center;*/
        color: #fff;
        font-size: 18px;
        font-family: 'Roboto', Helvetica, Arial, sans-serif;
        font-weight: 700;
    }

/*--------------------------------------------------
    PUBLICACIONES SIN IMAGENES
    ----------------------------------------------------*/
    .pbn2 {
        position: relative;
        padding: 1em;
        background: #f1f2f2;
        height: 200px;
    }
    .pbn2:before {
        content: "";
        position: absolute;
        bottom: 0;
        right: 0;
        border-width: 35px 35px 0 0;
        border-style: solid;
        border-color: #bcbec0 #fff;
        z-index: 100;
    }
    .pbn2 figure {
        margin: 0;
        padding: 0;
        position: relative;
        z-index: 10;
    }
    .pbn2 figure a { display: block;}
    .pbn2 figure .mask2 {
        display: block;
        position: absolute;
        width: 100%;
        top: 0;
        left: 0;
        background-color: #fff;
    }
    .pbn2 figure .fpbn2 {
        position: absolute;
        width: 100%;
        padding: 5.6em;
        text-align: center;
        color: #bcbec0;
        font-size: 15px;
        font-family: 'Roboto-Light', Helvetica, Arial, sans-serif;
        font-weight: 700;
        background: #fff;
    }
    .pbn2 figure .fpbn2 .img2{
     margin-top: 100px;
 }
 .pbn2 figure h3 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0.9375em;
    text-align: center;
    color: #bcbec0;
    font-size: 15px;
    font-family: 'Roboto-Light', Helvetica, Arial, sans-serif;
    font-weight: 700;
}
/*----------------------------------------------------
       BOTON HISTORIA DE SIMAS
       -----------------------------------------------------*/

       .fullbg {
        padding: 100px 0;
        text-align: center;
        color: #fff;
        width: 100%;
        min-height: 250px;
        position: relative;
        overflow: hidden;
        background: url('../img/produccion-cafe.jpg') center center no-repeat;
        background-size: cover;
        background-attachment: fixed;
    }
    .fullbg h2 {
        font-size: 2rem;
        color: #fff;
        text-transform: none;
        margin-bottom: 30px;
    }
    .fullbg .button {
        background: rgba(255,255,255,0.3);
        border: 2px solid #fff;
        font-weight: 600;
        font-size: 18px;
        font-family: 'Roboto-Light';
    }
    .fullbg .button:hover {
        background: #fff;
        color: #55606e;
    }

/* -----------------------------------------------------
    BLOGS Y SERVICIOS
    ------------------------------------------------------*/

    #serv{
        background-color: #f1f2f2;
        padding: 0 30px 30px 30px;
        border-radius: 15px;

    }

    .extras { padding: 80px 0; }
    #blogs h3, #productos h3 { margin-bottom: 30px; color: #55606E;}

    .post-thumb{
        display: inline-block;
        float: left;
        position: relative;
        overflow: hidden;
        margin-bottom: 20px;
    }

    .product-thumb {
        display: inline-block;
        position: relative;
        overflow: hidden;
        margin-bottom: -10px !important;
    }
    .post-content {

        padding: 0 0 10px 160px;
        margin-bottom: 30px;
        color: #55606E;
    }

   .product-content {

        padding: 0 0 10px 160px;
        margin-bottom: -30px;
        color: #55606E;
    }
    .post-meta {
        padding: 5px 0;
        margin-bottom: 10px;
        border-top: 1px solid rgba(0,0,0,0.1);
        border-bottom: 1px solid rgba(0,0,0,0.1);
    }
    .post-meta h6 {
        font-size: 12px;
        font-family: 'Roboto', Helvetica, Arial, sans-serif;
        color: #bcbec0;
    }
    .post-meta h6 .tag {
        text-transform: uppercase;
        font-weight: 700;
    }
    .post-content h4 {
        font-size: 15px;
        font-family: 'Roboto', Helvetica, Arial, sans-serif;
        font-weight: 700;
        margin-bottom: 20px;
        color: #55606E;
    }
    .post-content a.more {
        color: #bcbec0;
        text-transform: uppercase;
        font-size: 12px;
        font-weight: 700;
    }

     a.more {
          color: #bcbec0;
          text-transform: uppercase;
          font-size: 12px;
          font-weight: 700;
        }

        a.more:hover { color: #00a750; }

    .post-content a.more:hover { color: #00a750; }

    #productos {
        position: relative;
        background: #f1f2f2;
        padding: 1.875em;
        margin-top: -1.7em;
    }



    .product-content {
        height: auto;
        margin-bottom: 20px;
        padding: 0 0 10px 10px;

    }
    .product-content h4 {
        font-family: 'Roboto', Helvetica, Arial, sans-serif;
        font-size: 16px;
        font-weight: 600;
        margin-bottom: 10px;
        color: #55606E;
    }
    .product-content p {
        font-size: 14px;
        line-height: normal;
        color: #939598;
    }
    .product:last-child .product-content { border-bottom: none; margin-bottom: 0; }

/*--------------------------------------------------------------
      ALIANZAS
      ---------------------------------------------------------------*/
      .alianzas img{
        height: 110px !important
      }
      .alianzas {
        background: #f1f2f2;
        position: relative;
        border-top: 1px solid rgba(0,0,0,0.1);
        border-bottom: 1px solid rgba(0,0,0,0.1);
    }
    .alianzas h3 { margin-bottom: 20px; color: #55606E;}
    .alianzas .logos {
        margin: 0;
        padding: 0;
        width: 100%;
        display: block;
        overflow: hidden;
        list-style: none;
    }

/*.alianzas li {
    text-align: center;
    padding: 30px 0;
}
.alianzas li a {
    display: block;
    position: relative;
    } */
    .alianzas li > a img {
        position: relative;
        filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
        -webkit-filter: grayscale(100%);
        -moz-filter: grayscale(100%);
        filter: grayscale(100%);
        -webkit-transition: all 400ms ease;
        -moz-transition: all 400ms ease;
        -o-transition: all 400ms ease;
        -ms-transition: all 400ms ease;
        transition: all 400ms ease;
    }
    .alianzas li > a:hover img {
        -webkit-filter: grayscale(0%);
        -moz-filter: grayscale(0%);
        filter: grayscale(0%);
        filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'1 0 0 0 0, 0 1 0 0 0, 0 0 1 0 0, 0 0 0 1 0\'/></filter></svg>#grayscale");
    }

/* ------------------------------------
      FOOTER
      ----------------------------------------*/

      #foot{
        padding-left: 5em
      }
      .widgets h4 {
        font-family: 'Roboto', Helvetica, Arial, sans-serif;
        font-size: 14px;
        font-weight: 700;
        text-transform: uppercase;
        margin-bottom: 20px;
        color: #4e4e4d;
    }

    .event {
        position: relative;
        display: block;
        margin-bottom: 20px;
        padding-bottom: 10px;
        border-bottom: 1px solid rgba(0,0,0,0.1);
    }
    .event h5 {
        font-family: 'Roboto-Light', Helvetica, Arial, sans-serif;
        line-height: normal;
        font-weight: 600;
        font-size: 16px;
        color: #55606E;
    }
    .event .fecha {
        border-radius: 2px;
        -moz-border-radius: 2px;
        -webkit-border-radius: 2px;
        -moz-border-radius: 2px;
        -o-border-radius: 2px;
        background: #b9c0c8;
        color: #fff;
        float: left;
        display: inline-block;
        text-align: center;
        margin-right: 10px;
        padding: 4px;
        font-weight: 700;
    }
    .event .fecha span { display: block; }
    .event .fecha .day { font-size: 18px; }
    .event .fecha .month { font-size: 14px; line-height: 1.2; }
    .event .fecha .year { font-size: 12px; }
    .event .event-data { padding-left: 50px; }
    .event .event-data p {
        font-weight: normal;
        font-style: italic;
        font-size: 14px;
        margin-bottom: 10px;
    }

    .video-title {
        font-size: 14px;
        padding-bottom: 10px;
        border-bottom: 1px solid rgba(0,0,0,0.1);
        margin-top: 10px;
    }

    .financiado {
        position: relative;
        padding: 25px 0;
        background: #55606e;
        color: #fff;
    }
    .financiado p {
        font-weight: 600;
        font-style: italic;
        margin-bottom: 0;
        line-height: 30px;
    }
    .financiado ul {
        list-style: none;
        margin: 0;
    }
    .financiado li {
        display: inline-block;
        margin-left: 30px;
    }
    .financiado li a:hover img { opacity: 0.5; }

    .footer-simas {
        padding: 50px 0;
        background: #f1f2f2;
    }
    .footer-simas .who {
        display: block;
        overflow: hidden;
        font-size: 12px;
        font-weight: 700;
        line-height: normal;
        margin-bottom: 0;
        padding: 0 0 0 70px;
        background: url('../img/logo-simas-grey.png') no-repeat top left;
    }
    .footer-simas .open {
        display: block;
        overflow: hidden;
        font-size: 12px;
        font-weight: 700;
        line-height: normal;
        margin-bottom: 15px;


    }
    .footer-simas .who span {
        display: block;
        float: left;
        font-weight: normal;
    }
    .footer-simas .copy {
        text-align: right;
        font-size: 12px;
        clear: both;
    }

    .footer-socials {
        text-align: right;
        float: right;
        list-style: none;
        margin-left: 0rem !important;

    }
    .footer-socials li { display: inline-block; }
    .footer-socials a {
        display: inline-block;
        width: 32px;
        height: 32px;
        overflow: hidden;
        text-indent: 100%;
        white-space: nowrap;
        position: relative;
        margin-left: 20px;
    }
    .footer-socials li.youtube a { background: url('../img/icon-yt-color.png') center center no-repeat; }
    .footer-socials li.twitter a { background: url('../img/icon-tw-color.png') center center no-repeat; }
    .footer-socials li.facebook a { background: url('../img/icon-fb-color.png') center center no-repeat; }
    .footer-socials li.google a { background: url('../img/ico-gogleplus-color.png') center center no-repeat; }
    .footer-socials li a:hover { opacity: 0.5; }


    /* mio codigo*/

    #frase1 {
      position:absolute;
      top:55%;
      left:10%;
      background:rgba(58,223,0,0.7);
      font-size:2.125em;
      color:#fff;
      padding:5px;
  }

  #frase2 {
      position:absolute;
      top:63.2%;
      left:10%;
      background:rgba(0,0,0,0.7);
      font-size:2.125em;
      color:#fff;
      padding:5px;
  }



  #cajita {
      position: absolute;
      margin-top: -281px;
      margin-left: 380px;
      color: #fff;
      font-family: 'Roboto', sans-serif;
      padding: 10px;
      background:rgba(58,223,0,0.7);
  }
  #cajita2 {
      position: absolute;
      margin-top: -281px;
      margin-left: 380px;
      color: #fff;
      font-family: 'Roboto', sans-serif;
      padding: 10px;
      background:rgba(58,223,0,0.7);
  }
  #cajita3 {
      position: absolute;
      margin-top: -281px;
      margin-left: 380px;
      color: #fff;
      font-family: 'Roboto', sans-serif;
      padding: 10px;
      background:rgba(58,223,0,0.7);
  }

  #cajita1 {
      position: absolute;
      margin-top: -200px;
      margin-left: 380px;
      color: #fff;
      font-family: 'Roboto', sans-serif;
      padding: 10px;
      background:rgba(58,223,0,0.7);
  }

  #cajita22 {
      position: absolute;
      margin-top: -200px;
      margin-left: 380px;
      color: #fff;
      font-family: 'Roboto', sans-serif;
      padding: 10px;
      background:rgba(58,223,0,0.7);
  }
  #cajita33 {
      position: absolute;
      margin-top: -200px;
      margin-left: 380px;
      color: #fff;
      font-family: 'Roboto', sans-serif;
      padding: 10px;
      background:rgba(58,223,0,0.7);
  }


  .colorLetra a {
      color: #fff;
      font-weight: bold;
  }

  .colorLetra a:hover {
      color: #fff;
      font-weight: bold;
      border-top: 1px solid #fff;
      padding-top: 6px;
  }

  .activate {
      color: #fff;
      font-weight: bold;
      border-top: 1px solid #fff;
      padding-top: 9px;
  }

  #publicacionesFondo {
      background-color: #fff;
      height: 387px;
  }

  #publicacionFondo a {
      color: #bcbec0;
      font-size: 14px;
      font-weight: bold;
  }

  .somos {
    position: relative;
}

.somos img {
    width: 100%;
    height: auto;
}
.parrafo1 {
  position: absolute;
  font-size: 1.875em;
  color: #fff;
  text-shadow: -2px 1px 2px rgba(0, 0, 0, 1);
  margin-bottom: 10px;
  margin-left: 200px;
}
.parrafo2 {
  position: absolute;
  font-size: 1.875em;
  color: #fff;
  text-shadow: -2px 1px 2px rgba(0, 0, 0, 1);
  margin-bottom: 10px;
  margin-left: 150px;
}
.somos a {
  margin-top: 10px;
  position: absolute;
  /*margin-top: -83px;
  margin-left: 550px;*/
}
/* boton semi transparente */
.tbutton {
  border: 1px solid rgba(0,0,0,0.2);
  box-sizing: content-box !important;
  color: #f5f5f5;
  cursor: pointer;
  display: inline-block;
  padding: 16px 20px;
  text-align: center;
  text-shadow: 0 0 5px rgba(0,0,0,0.7), 0 0 1px rgba(0,0,0,0.7);
  text-decoration: none;
  font-size: 1.125em;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  white-space: normal;
  outline: none;

  /* Transition */
  -moz-transition: all 200ms ease 0ms !important;
  -o-transition: all 200ms ease 0ms !important;
  -webkit-transition: all 200ms ease 0ms !important;

  /* Background Color */
  background: none repeat scroll 0 0 rgba(255,255,255,0.4);

  /* Border Rounding */
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;

  /* Background Clipping */
  -moz-background-clip: padding;
  -webkit-background-clip: padding;
  background-clip: padding-box;

  /* Shadow */
  box-shadow: 0 0 3px rgba(255,255,255,0.25) inset, 0 0 1px rgba(255,255,255,0.2), 0 10px 10px rgba(255,255,255,0.08) inset;
  -moz-box-shadow: 0 0 3px rgba(255,255,255,0.25) inset, 0 0 1px rgba(255,255,255,0.2), 0 10px 10px rgba(255,255,255,0.08) inset;
  -webkit-box-shadow: 0 0 3px rgba(255,255,255,0.25) inset, 0 0 1px rgba(255,255,255,0.2), 0 10x 10px rgba(255,255,255,0.08) inset;
  box-shadow: 0 0 3px rgba(255,255,255,0.25) inset, 0 0 1px rgba(255,255,255,0.2), 0 10px 10px rgba(255,255,255,0.08) inset;
}

.tbutton:hover {
  color: #fff;
  text-shadow: 0 0 5px rgba(0,0,0,0.2), 0 0 1px rgba(0,0,0,0.4);

  /* Shadow */
  box-shadow: 0 0 5px rgba(255,255,255,0.45) inset, 0 0 1px rgba(255,255,255,0.2), 0 10px 10px rgba(255,255,255,0.08) inset;
  -moz-box-shadow: 0 0 5px rgba(255,255,255,0.45) inset, 0 0 1px rgba(255,255,255,0.2), 0 10px 10px rgba(255,255,255,0.08) inset;
  -webkit-box-shadow: 0 0 5px rgba(255,255,255,0.45) inset, 0 0 1px rgba(255,255,255,0.2), 0 10px 10px rgba(255,255,255,0.08) inset;
}

.fechatitulo {
  font-size: 0.750em;
  font-weight: bold;
  color: #bcbec0;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  margin-left: 163px;
  margin-bottom: 15px;
  padding-top: 3px;
  padding-bottom: 3px;
}

.productosParents {
  margin-top: 14px;
  background-color: #f1f3f2;
  padding-bottom: 25px;
}

.productosParents h3 {
  margin: 14px;
  font-family: 'Roboto', sans-serif;
  font-size: 1.500em;
  color: #55606E;
}

.productos h5 {
  font-family: 'Roboto', sans-serif;
  font-size: 1.000em;
  font-weight: bold;
  color: #55606e;
}

.productos img {
  float: left;
  margin-right: 10px;
}

.productos p {
  font-size: 0.875em;
  color: #bcbec0;
  font-family: 'Roboto-Light', sans-serif;
  margin-bottom: 10px;
}

#alianzaFondo {
  background-color: #f1f3f2;
  border-top: 1px solid #cacaca;
  border-bottom: 1px solid #cacaca;
}

#alianzaFondo h6 {
  margin-top: 48px;
  margin-left: -16px;
  font-family: 'Roboto', sans-serif;
  font-size: 24.22px;
  color: #55606E;
}

#alianzaFondo p {
  font-family: 'Roboto', sans-serif;
  margin-left: -16px;
  font-size: 0.875em;
  color: #939598;
}
#alianzaFondo a {
  color: #bcbec0;
  font-size: 14px;
  font-weight: bold;
  margin-left: -16px;
}

#alianzaFondo ul {
  list-style-type: none;
}

#alianzaFondo ul li {
  display: inline;
  margin-left: 20px;
}

.logoAlianza {
  margin-top: 58px;
}

.logoAlianza li {
  margin-right: 80px;
}

.footer {
  margin-top: 40px;
}

.eventos {
  margin-bottom: 22px;
}

.eventos p {
  font-size: 1.000em;
  color: #4e4e4d;
  font-weight: bold;
}

.fechaevento p.date {
  width: 42px;
  padding: 1px 0 4px 0;
  text-align: center;
  background-color: #cacaca;
  border-radius: 3px 3px 3px 3px;
  -moz-border-radius: 3px 3px 3px 3px;
  -webkit-border-radius: 3px 3px 3px 3px;
  border: 0px solid #000000;
  color: #fff;
  font-weight: bold;;
}
.fechaevento p.date span {
  display: block;
  margin-bottom: -7px;
  margin-top: -3px;
  color: #fff;
  font-weight: bold;
}

.postevento h2 {
  font-size: 17px;
  margin: -86px 2px 3px 54px;
  width: 90%;
  color: #55606E;
}
.postevento h4 {
  font-size: 12px;
  margin: 1px 2px 3px 54px;
}

.videos {
  height: auto;
}

.videos p {
  font-size: 1.000em;
  color: #4e4e4d;
  font-weight: bold;
}

.videos h4 {
  font-size: 14px;
  margin-top: 15px;
  margin-bottom: -15px;
  color: #4e4e4d;

}
.videos a {
  color: #bcbec0;
  font-size: 12px;
  font-weight: bold;
}
.audios {
  height: auto;
}

.audios p {
  font-size: 1.000em;
  color: #4e4e4d;
  font-weight: bold;
}


.franjaFinanciadores {
  background-color: #54606e;
}

.finan h5 {
  font-size: 1.000em;
  color: #fff;
  margin: 38px 2px 3px 4px;
  font-family: 'Roboto', sans-serif;
}

.finaciadores ul {
  list-style-type: none;
}

.finaciadores ul li {
  display: inline;
}

.loguitos {
  margin-top: 37px;

}
.loguitos li {
  margin-right: 28px;
}

.footersimas {
  background-color: #f1f3f2;
}

.footerlogos img {
  float: left;
  width: 67px;
  height: 67px;
  margin-right: 15px;
}

.direccionSimas {
  margin-top: 40px;
  margin-left: 81px;
  font-size: 11px;
}
.direccionSimas span {
  font-size: 12px;
  font-weight: bold;
}

.socialfooter img {
  margin-top: 37px;
  float: left;
  margin-right: 15px;
}
.copyleft {
  margin-top: 97px;
  margin-right: -148px;
  font-size: 11px;
}

.finfooter {
  height: 20px;
}

div.large-2.columns.uno {
  position: absolute;
}
div.large-8.columns.dos {
  position: absolute;
  margin: -200px 2px 3px 4px;
}
div.large-8.columns.dos p.parrafo2 {
  margin-top: 29px;
  margin-left: 133px;
}
div.large-8.columns.dos a.tbutton {
  margin-top: 85px;
  margin-left: 335px;
}
div.large-2.columns.tres {
  position: absolute;
}

/* esquinas dobladas */
.note.publi {
  background: none repeat scroll 0 0 #f0f0f0; /* color de fondo */
  color: #FFFFFF; /* color de texto */
  margin: 1em auto;
  overflow: hidden;
  padding: 1em 1em;
  position: relative;
  /*width: 480px; /* ancho */
}
.note.publi:before {
  -ms-transform:rotate(-270deg); /* rotate to make the triangle have the right angle */
  -webkit-transform:rotate(-270deg);
  -moz-transform:rotate(-270deg);
  transform:rotate(-270deg);
  background: none repeat scroll 0 0 #bdbec2; /* color de esquina */
  border-color: #FFFFFF #FFFFFF #bdbec2 #bdbec2; /* color de borde */
  border-style: solid;
  border-width: 0 36px 36px 0;
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  right: 0;
  width: 0;
  -webkit-box-shadow:0 2px 2px rgba(0,0,0,0.3), -2px 2px 2px rgba(0,0,0,0.2);
  -moz-box-shadow:0 2px 2px rgba(0,0,0,0.3), -2px 2px 2px rgba(0,0,0,0.2);
  box-shadow:0 2px 2px rgba(0,0,0,0.3), -2px 2px 2px rgba(0,0,0,0.2);
}

.ih-item.square.effect6 .info h3 {
  font-size: 12px;
  width: 220px;
  background: rgb(71, 194, 66);
}

.ih-item.square.effect6 .info {

}

.ih-item.square {
  width: 191px;
  /*height: 186px;*/
}

.ih-item.square.effect14 .info h3 {
  font-size: 12px;
  background: rgb(71, 194, 66);
}

.ih-item.square.effect14 .info {

}

/* slider camera */
.fluid_container {
  margin: 0 auto;
  max-width: 100%;
  width: 100%;
}

.fluid_container img {
  width: 100%;
}

#mobile-header {
    display: none;
}

#dropDiv .row{
  padding-top: 7em;
}

#botoncito{
    background-color: #00a750;
    border-radius: 10px;
    top: -10px
}

#ytplayer{
    /*width:250px;
    height:200px*/
    width: 100%;
    height: 350px;
}




/* Medias query para el responsive 1024px, 940px, 768px, 480px, y 320px*/
/* Medium screens */



@media only screen and (max-width: 768px){
    .txtv {
  width: 60%;
}
    #video iframe{
        width: 100%;
        height: 250px;
    }
    #ytplayer{
        padding-left: 2em;
        width: 100%;
    }

    #dropDiv{
        padding-left: 0;
    }

    .financiado li {
        width: 20%;
        padding-top: 1em;
    }

    #footersocial{
        margin-top: 3em;
    }

    #dropDiv .row{
      margin-top: 4em;
  }

  .quienesfondo h1 {
  display: none
}

#FondoU .columns{
    margin: 0 auto !important;
    padding-left: 4em !important;


}

#botoncito{
    margin-top: 1em
}

#imgquienes{
    padding: 0 !important;
}

.servImg{
    display: none;
}

#tituloPortafolio{

    padding: 5% 1% 3% 1% !important;
}

#tituloServ{

    padding: 5% 1% 3% 1% !important;
}

}

@media only screen and (max-width: 64em) {
    #video iframe{
        width: 100%;
        height: 250px;
    }
    #mobile-header {
        display: block;
        position: absolute;
        z-index: 9999;
    }
    #mobile-header a {
      color: #fff;
      position: relative;
  }
  #mobile-header span {
      font-family: 'Roboto-Light';
      font-size: 1.150em;
  }
  .socialicon {
      display: none;
  }
  #sidr a img {
      display:block;
      margin:auto;
  }
  .fa-2x {
      font-size: 1.250em;
  }
  #simple-menu i {
      border: 1px solid #fff;
      background: rgba(0,0,0,0.7);
      position: fixed;
  }
  header {display: none;}
  #frase1 {
      font-size: 10px;
  }
  #frase2 {
      font-size: 10px;
  }
  .logoSimas {display: none;}
  .menu ul li {display: none;}
  .somos {display: none;}
  .inside {display: none;}
  .home-slider {height: 199px;}
  } /* min-width 641px, medium screens */

  @media only screen and (max-width: 64em){

  }

  /* CSS DE LAS NOTICIAS */
  .detallefondo img {
      width: 100%;
  }

  .detallefondo h1 {
      margin: -108px 2px 3px 526px;
      color: #fff;
      font-family: 'Roboto', sans-serif;
      font-size: 55px;
      font-weight: bold;
      position: absolute;
  }

  .camino {
      background-color: #f1f3f2;
      height: auto;
      margin: 0 auto;
  }

  .camino a h3 {
      margin-top: 22px;
      font-size: 14px;
      font-weight: bold;
      color: #bcbec0;
  }

  .newsimas p {
      margin-top: 25px;
      color: #55606E;
      font-size: 34px;
      font-weight: bold;
      font-family: 'Roboto', sans-serif;

  }
  .lineas {
      border-top: 1px solid #cacaca;
      border-bottom: 1px solid #cacaca;
      height: 33px;
      padding-top: 5px;

  }
  .shared_social iframe {
      width: 200px;
  }

  .fecha_noticia {
      font-size: 14px;
      color: #bcbec0;

  }

  .na-media .na-image-left .image-512 img {
      padding: 10px;
      background-color: blue;
  }

  .tematica  {
      color: #40ad74;
      margin: -15px 3px 9px 86px;
  }
  .tmatica span {
      color: #bcbec0;
  }

  .descargas {
      margin: -15px 3px 9px 86px;
  }
  .descargas i {
      color: #40ad74;
  }
  .descargas span{
      color: #bcbec0;
  }

  .relaciones {
      margin-bottom: 50px;
  }

  .relaciones h3 {
      font-size: 16px;
      font-weight: bold;
      font-family: 'Roboto', sans-serif;
      color: #55606E;
      margin-bottom: 15px;
  }

  .relaciones p {
      font-size: 14px;
      font-family: 'Roboto', sans-serif;
      color: #55606E;
      padding-top: 10px;
  }

  .relaciones span {
      font-size: 12px;
      font-family: 'Roboto', sans-serif;
      color: #55606E;
      margin-top: -10px;
  }

  .relaciones span a {
      font-size: 12px;
      font-family: 'Roboto', sans-serif;
      color: #55606E;
      margin-top: -10px;
  }
  .relaciones span a:hover {
      font-size: 12px;
      font-family: 'Roboto', sans-serif;
      color: #bcbec0;
  }
  .relaciones hr {
      border: solid #dddddd;
      border-width: 1px 0 0;
      clear: both;
      margin: 0.25rem 0 0.1875rem;
      height: 0;
  }

  .blanco {
      font-family: "Roboto-Light";
  }
  .blanco h3 {
      font-family: "Roboto";
  }
  .blanco p {
      font-family: "Roboto-Light";
  }

  .otrocolor {
      background-color: #f1f3f2;
  }

  .otrocolor h3 {
      font-family: "Roboto";
  }
  .otrocolor p {
      font-family: "Roboto-Light";
  }



  .notaa.portafolio {
      background: none repeat scroll 0 0 #fff; /* color de fondo */
      margin: 1em auto;
      /*overflow: hidden;*/
      padding: 1em 1em;
      position: relative;
  }

  .notaa.portafolio:before {
      -ms-transform:rotate(-270deg); /* rotate to make the triangle have the right angle */
      -webkit-transform:rotate(-270deg);
      -moz-transform:rotate(-270deg);
      transform:rotate(-270deg);
      background: none repeat scroll 0 0 #bdbec2; /* color de esquina */
      border-color: #FFFFFF #f1f3f2 #bdbec2 #bdbec2; /* color de borde */
      border-style: solid;
      border-width: 0 36px 36px 0;
      content: "";
      display: block;
      position: absolute;
      z-index: 1999;
      bottom: 0;
      right: 0;
      width: 0;
  /*-webkit-box-shadow:0 2px 2px rgba(0,0,0,0.3), -2px 2px 2px rgba(0,0,0,0.2);
  -moz-box-shadow:0 2px 2px rgba(0,0,0,0.3), -2px 2px 2px rgba(0,0,0,0.2);
  box-shadow:0 2px 2px rgba(0,0,0,0.3), -2px 2px 2px rgba(0,0,0,0.2);*/
}

.nota.porta {
  background: none repeat scroll 0 0 #f0f0f0; /* color de fondo */
  color: #FFFFFF; /* color de texto */
  margin: 1em auto;
  /*overflow: hidden;*/
  padding: 1em 1em;
  position: relative;
  /*width: 480px; /* ancho */
}
.nota.porta:before {
  -ms-transform:rotate(-270deg); /* rotate to make the triangle have the right angle */
  -webkit-transform:rotate(-270deg);
  -moz-transform:rotate(-270deg);
  transform:rotate(-270deg);
  background: none repeat scroll 0 0 #bdbec2; /* color de esquina */
  border-color: #FFFFFF #FFFFFF #bdbec2 #bdbec2; /* color de borde */
  border-style: solid;
  border-width: 0 36px 36px 0;
  content: "";
  display: block;
  position: absolute;
  z-index: 1999;
  bottom: 0;
  right: 0;
  width: 0;
  /*-webkit-box-shadow:0 2px 2px rgba(0,0,0,0.3), -2px 2px 2px rgba(0,0,0,0.2);
  -moz-box-shadow:0 2px 2px rgba(0,0,0,0.3), -2px 2px 2px rgba(0,0,0,0.2);
  box-shadow:0 2px 2px rgba(0,0,0,0.3), -2px 2px 2px rgba(0,0,0,0.2);*/
}
.descripcion {
  margin-top: 26px;
}
.descripcion ul {
  margin-bottom: 17px;
  list-style-type: none;
}

.separadorU {
  margin-top: 45px;
  margin-bottom: 45px;
}
#FondoU {
  background-color: #f1f3f2;
}
/* aside
aside { float: left; max-width: 220px;}*/
.inside {
  background-color: #f4f4f4;
  padding-left: 20px;
  padding-right: 20px;
  width: 160px;
}
.side-nav li.divider {
  border-top: 1px solid;
  height: 0;
  padding: 0;
  list-style: none;
  border-top-color: #cacaca;
}
.side-nav li a:not(.button) {
  color: #464141;
}
.publicacionU {
  font-family: "Roboto";
  color: #848484;
}
.publicacionU span {
  color: #008641;
}
.publicacionU i {
  color: #008641;
}

.texto{
  margin-top: -120px;
  position:absolute;
  background:rgba(0,0,0,0.7);
  color:#fff;
  padding:5px 15px;
  opacity: 0.7;
  left:10%;
  font-size:2.125em;
}

.flexslider .flex-next {
opacity: 0.7 !important;
right: -25px !important;
}

.flexslider .flex-prev {
opacity: 0.7 !important;
left: -35px !important;
}

#imgquienes{
    padding: 5em 0 0 5em;
}



.list-post-news {
  padding-bottom: 20px;
  border-bottom: 3px solid #008641;
  margin-bottom: 20px;
}

.img-news-list {
  margin-bottom: 5px;
  margin-top: 20px;
}

.date-publish {
  font-size: 12px;
  color: #008641;
  margin-top: 10px;
}

h2.tlist-news {
  font-family: 'Roboto', sans-serif;
  font-size: 26px;
}

h2.tlist-news a {
  color: #444;
}

h2.tlist-news a:hover {
  color: #4598a6;
}
.more-news {
  font-size: 14px;
}

.more-news a {
  color: #343233;
}

.news-post-list {
  font-family: 'Roboto-Light', sans-serif;
  font-style: normal;
  font-size: 16px;
  margin-bottom: 10px;
}

.detalle-noticia p {
  font-family: "Roboto-Light";
}

.detalle-noticia img, .detalle-noticia frame {
  float: left;
  margin: 10px;
  line-height: 0;
  display: inline-block;
  border: solid 4px white;
  max-width: 100%;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.2);
  transition: all 200ms ease-out;
}

.detalle-noticia frame {
  margin-right: 23px;
  margin-bottom: 13px;
}

.generales p {
  font-family: "Roboto-Light";
}

#tituloPortafolio{
    font-size: 16px;
    font-family: "Roboto-Light";
    color:#656d78;
    margin: 0 auto;
    padding: 5% 25% 3% 25%
}

.mision h2 {
  font-size: 30px;
  font-family: "Roboto";
  color: #55606e;
}

.mision p {
  font-size: 16px;
  font-family: "Roboto-Light";
}

.acerca h2 {
  font-size: 30px;
  font-family: "Roboto";
  color: #55606e;
}

.acerca p {
  font-family: "Roboto-Light";
}

.acerca li {
  font-family: "Roboto-Light";
}

.ver_alianza {
  margin-bottom: 16px;
}

/*boton de mas portafolio*/

#bthmas{width:100%;}

.endless_more {
  height:20px;
  position:relative;
  margin: 8px -50px;
  width:100px;
  top:50%;
  left:50%;
}
.endless_more {
  -moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
  -webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
  box-shadow:inset 0px 1px 0px 0px #ffffff;
  background-color:#54606e;
  -webkit-border-top-left-radius:6px;
  -moz-border-radius-topleft:6px;
  border-top-left-radius:6px;
  -webkit-border-top-right-radius:6px;
  -moz-border-radius-topright:6px;
  border-top-right-radius:6px;
  -webkit-border-bottom-right-radius:6px;
  -moz-border-radius-bottomright:6px;
  border-bottom-right-radius:6px;
  -webkit-border-bottom-left-radius:6px;
  -moz-border-radius-bottomleft:6px;
  border-bottom-left-radius:6px;
  text-indent:0;
  display:inline-block;
  color:#fff;
  font-family: 'Roboto';
  font-size:16px;
  font-weight:bold;
  font-style:normal;
  height:50px;
  line-height:50px;
  width:20%;
  text-decoration:none;
  text-align:center;
}
.endless_more:hover {
  background-color:#dfdfdf;
  color: #000;
}
.endless_more:active {
  position:relative;
  top:1px;
}
.adjunto1 {
  margin-left: 34px;
}

/* pagina de contacto*/
.informacion h2 {
  font-family: 'Roboto';
  font-size: 30px;
}
.informacion p {
  font-family: 'Roboto-Light';
}

.todoContacto h2 {
  margin-top: 32px;
  font-family: 'Roboto';
  font-size: 30px;
}

.contactos h2 {
  margin-top: 32px;
  font-family: 'Roboto';
  font-size: 30px;
}

/* filtro de los blogs*/
.filtroBlogs {
  display: block;
  position: relative;
  width: 90%;
  margin-top: -79px;
  margin-left: 78px;
}

.dropdownblog {
    /* position: absolute; */
    left: -9999px;
    list-style: none;
    margin-left: 80px;
    /* width: 100%; */
    max-height: none;
    height: 79px;
    background-color: #00a74f;
    /* border: solid 1px #cccccc; */
    font-size: 27px;
    /* z-index: 99; */
    /* margin-top: 2px; */
    max-width: 392px;
}

.dropdownblog:hover {
    background-color: #00a74f;
}

select {
  border: 1px solid #00a74f;
  color: #fff;
  font-family: 'Roboto-Light';
}

.detalle-noticia figure {
    text-align: center;
    border-radius: 2px;
    background: rgba(0,0,0,0.05);
    padding: 10px;
    margin: 10px 20px;
    display: inline-block;
    float: left;
}

#sidebar {
  min-height: 200px;
  margin: 95px 0 15px 0;
  padding: 15px 10px;
  float: left;

}

.side-nav li a {
    font-family: 'Roboto-Light';
      font-size: 14px;
}

.boton>button.disabled, button[disabled], .button.disabled, .button[disabled]{
    border-radius: 10px;
    top: -10px
}

.softlibre img{
    width: 45%;

}

.covid img {
    width: 100%;
    min-height: 250px;
}