/*
Theme Name: Sport 2.0
Theme URI: http://kopatheme.com/
Author: KopaSoft
Author URI: http://kopatheme.com/
Description: Sport 2.0 theme is designed for portfolios, corporate and e-commerce with flexible layout. The theme is based on KOPATHEME layout manager technique that will let you flexibility choose layout options of every pages within your site. It is very helpful when you are experimenting with visual hierarchy. You can define unlimited sidebar for widget areas, and with powerful custom widgets, the theme provides you more flexibility and ease-of-use for your site
Version: 1.0.0
License: GNU General Public License v3 or later
License URI: http://www.gnu.org/licenses/gpl-3.0.html
Tags: light, one-column, two-columns, right-sidebar, fluid-layout, custom-header, custom-menu, editor-style, featured-images, microformats, post-formats, sticky-post, translation-ready

/*----------------------------------------------------------------

[Table of contents]

1. - Body
    1.1 - Sass
    1.2 - Repeatable Patterns
    1.3 - Elements
    1.4 - Basic Structure
2. - Header / .kopa-header
    2.1 - Navigation / .main-nav
    2.2 - Search / .sb-search-wrapper
3. - Content
    3.1 - Widget
    3.2 - Home Page
    3.3 - Sub Page
    3.4 - Sidebar / .sidebar
    3.5 - Bottom sidebar / #bottom-sidebar
4. - Footer / #kopa-footer

5. - Responsive

-----------------------------------------------------------------*/
/**
 * 1. Body
 * -------------------------------------------------------------------
 */
/**
 * 1.1 Sass
 * -------------------------------------------------------------------
 */
@import url(http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900,900italic);
@import url(http://fonts.googleapis.com/css?family=Roboto+Condensed:300italic,400italic,700italic,400,300,700);


/*--- pagination ---*/

/**
 * 3.1.1 - widget-area
 * -------------------------------------------------------------------
 */
.widget-area-1, .widget-area-2, .widget-area-3, .widget-area-4 {
  float: left;
  padding: 40px 20px 0;
  min-height: 1px;
  position: relative; }

.widget-area-1 {
  width: 23%;
  background: #3e3e4a; }
  .widget-area-1 .widget {
    margin-bottom: 20px; }

.widget-area-2 {
  width: 16%;
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#3a3a45), to(#3e3e4a));
  background: -webkit-linear-gradient(left, #3a3a45, #3e3e4a);
  background: -moz-linear-gradient(left, #3a3a45, #3e3e4a);
  background: -o-linear-gradient(left, #3a3a45, #3e3e4a);
  background: -ms-linear-gradient(left, #3a3a45, #3e3e4a);
  background: linear-gradient(left, #3a3a45, #3e3e4a);
  background-color: #3a3a45; }

.widget-area-3 {
  width: 27%;
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#3a3a45), to(#3e3e4a));
  background: -webkit-linear-gradient(left, #3a3a45, #3e3e4a);
  background: -moz-linear-gradient(left, #3a3a45, #3e3e4a);
  background: -o-linear-gradient(left, #3a3a45, #3e3e4a);
  background: -ms-linear-gradient(left, #3a3a45, #3e3e4a);
  background: linear-gradient(left, #3a3a45, #3e3e4a);
  background-color: #3a3a45; }

.widget-area-4 {
  width: 34%;
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#3a3a45), to(#3e3e4a));
  background: -webkit-linear-gradient(left, #3a3a45, #3e3e4a);
  background: -moz-linear-gradient(left, #3a3a45, #3e3e4a);
  background: -o-linear-gradient(left, #3a3a45, #3e3e4a);
  background: -ms-linear-gradient(left, #3a3a45, #3e3e4a);
  background: linear-gradient(left, #3a3a45, #3e3e4a);
  background-color: #3a3a45; }

/

/*--- widget_social_counter ---*/
.widget_vw_widget_social_counter {
  padding-top: 15px;
  padding-left: 5%;
  margin-bottom: -15px; }

.vw-social-counter {
  background: #55606e;
  width: 100%;
  margin-right: 5%;
  float: left;
  margin-bottom: 15px; }

.vw-social-counter-icon {
  float: left;
  display: inline-block;
  width: 50px;
  height: 50px;
  background-color: #EEE;
  color: #333;
  text-align: center;
  margin-right: 3.5em; }

.vw-social-counter-icon i {
  line-height: 50px;
  font-size: 18px; }

.vw-social-counter-count, .vw-social-counter-count, .vw-social-counter-icon {
  -webkit-transition: all 0.25s;
  -moz-transition: all 0.25s;
  transition: all 0.25s; }

.vw-social-counter-twitter .vw-social-counter-icon {
  background-color: #55ACEE;
  color: #FFF; }

.vw-social-counter-twitter:hover .vw-social-counter-icon {
  background-color: #88C4F3; }

.vw-social-counter-twitter:hover .vw-social-counter-count {
  color: #55ACEE; }

.vw-social-counter-facebook .vw-social-counter-icon {
  background-color: #3D62B3;
  color: #FFF; }

.vw-social-counter-facebook:hover .vw-social-counter-icon {
  background-color: #7791C9; }

.vw-social-counter-facebook:hover .vw-social-counter-count {
  color: #3D62B3; }

.vw-social-counter-youtube .vw-social-counter-icon {
  background-color: #CC181E;
  color: #FFF; }

.vw-social-counter-youtube:hover .vw-social-counter-icon {
  background-color: #DB5D61; }

.vw-social-counter-youtube:hover .vw-social-counter-count {
  color: #CC181E; }

.vw-social-counter-googleplus .vw-social-counter-icon {
  background-color: #D34836;
  color: #FFF; }

.vw-social-counter-googleplus:hover .vw-social-counter-icon {
  background-color: #E07E72; }

.vw-social-counter-googleplus:hover .vw-social-counter-count {
  color: #D34836; }

.vw-social-counter-vimeo .vw-social-counter-icon {
  background-color: #1BB6EC;
  color: #FFF; }

.vw-social-counter-vimeo:hover .vw-social-counter-icon {
  background-color: #5FCBF1; }

.vw-social-counter-vimeo:hover .vw-social-counter-count {
  color: #1BB6EC; }

.vw-social-counter-soundcloud .vw-social-counter-icon {
  background-color: #FE4600;
  color: #FFF; }

.vw-social-counter-soundcloud:hover .vw-social-counter-icon {
  background-color: #FE7D4C; }

.vw-social-counter-soundcloud:hover .vw-social-counter-count {
  color: #FE4600; }

.vw-social-counter-pinterest .vw-social-counter-icon {
  background-color: #CB2028;
  color: #FFF; }

.vw-social-counter-pinterest:hover .vw-social-counter-icon {
  background-color: #DA6268; }

.vw-social-counter-pinterest:hover .vw-social-counter-count {
  color: #CB2028; }

.vw-social-counter-vk .vw-social-counter-icon {
  background-color: #44678D;
  color: #FFF; }

.vw-social-counter-vk:hover .vw-social-counter-icon {
  background-color: #7C94AF; }

.vw-social-counter-vk:hover .vw-social-counter-count {
  color: #44678D; }

.vw-social-counter-dribbble .vw-social-counter-icon {
  background-color: #E14D86;
  color: #FFF; }

.vw-social-counter-dribbble:hover .vw-social-counter-icon {
  background-color: #EA82AA; }

.vw-social-counter-dribbble:hover .vw-social-counter-count {
  color: #E14D86; }

.vw-social-counter-counter {
  float: left;
  display: inline-block; }

.vw-social-counter-counter .vw-social-counter-count {
  color: #FFF; }

.vw-social-counter-count {
  font-size: 22px;
  font-weight: bold;
  line-height: 1.2em;
  color: #333;
  margin-top: 5px; }

.vw-social-counter-unit {
  font-size: 10px;
  line-height: 1em;
  margin-top: 2px;
  color: #dfdfdf;
  text-transform: uppercase; }

.widget_vw_widget_social_profile .vw-site-social-profile-icon {
  background: #000;
  color: #FFF;
  font-size: 16px;
  margin-right: 10px;
  margin-bottom: 10px; }

.widget_vw_widget_social_profile .vw-site-social-profile-iconi {
  width: 40px;
  height: 40px;
  line-height: 40px; }

.widget_vw_widget_social_profile .vw-site-social-profile-icon i:before {
  width: auto; }

.widget_vw_widget_social_profile .vw-site-social-profile-icon + .vw-site-social-profile-icon {
  margin-left: 0; }

.widget_vw_widget_social_profile .vw-site-social-delicious {
  background-color: #0065C7; }

.widget_vw_widget_social_profile .vw-site-social-delicious:hover {
  background-color: #4C93D7; }

.widget_vw_widget_social_profile .vw-site-social-digg {
  background-color: #000; }

.widget_vw_widget_social_profile .vw-site-social-digg:hover {
  background-color: #4C4C4C; }

.widget_vw_widget_social_profile .vw-site-social-dribbble {
  background-color: #EA4C89; }

.widget_vw_widget_social_profile .vw-site-social-dribbble:hover {
  background-color: #F081AC; }

.widget_vw_widget_social_profile .vw-site-social-facebook {
  background-color: #3D62B3; }

.widget_vw_widget_social_profile .vw-site-social-facebook:hover {
  background-color: #7791C9; }

.widget_vw_widget_social_profile .vw-site-social-flickr {
  background-color: #FF0084; }

.widget_vw_widget_social_profile .vw-site-social-flickr:hover {
  background-color: #FF4CA8; }

.widget_vw_widget_social_profile .vw-site-social-forrst {
  background-color: #33713E; }

.widget_vw_widget_social_profile .vw-site-social-forrst:hover {
  background-color: #709B77; }

.widget_vw_widget_social_profile .vw-site-social-github {
  background-color: #000; }

.widget_vw_widget_social_profile .vw-site-social-github:hover {
  background-color: #4C4C4C; }

.widget_vw_widget_social_profile .vw-site-social-googleplus {
  background-color: #D34836; }

.widget_vw_widget_social_profile .vw-site-social-googleplus:hover {
  background-color: #E07E72; }

.widget_vw_widget_social_profile .vw-site-social-instagram {
  background-color: #1E5D81; }

.widget_vw_widget_social_profile .vw-site-social-instagram:hover {
  background-color: #618DA6; }

.widget_vw_widget_social_profile .vw-site-social-linkedin {
  background-color: #007BB6; }

.widget_vw_widget_social_profile .vw-site-social-linkedin:hover {
  background-color: #4CA2CB; }

.widget_vw_widget_social_profile .vw-site-social-lastfm {
  background-color: #D21309; }

.widget_vw_widget_social_profile .vw-site-social-lastfm:hover {
  background-color: #DF5952; }

.widget_vw_widget_social_profile .vw-site-social-pinterest {
  background-color: #CC2127; }

.widget_vw_widget_social_profile .vw-site-social-pinterest:hover {
  background-color: #DB6367; }

.widget_vw_widget_social_profile .vw-site-social-rss {
  background-color: #F70; }

.widget_vw_widget_social_profile .vw-site-social-rss:hover {
  background-color: #FF9F4C; }

.widget_vw_widget_social_profile .vw-site-social-skype {
  background-color: #00ADF2; }

.widget_vw_widget_social_profile .vw-site-social-skype:hover {
  background-color: #4CC5F5; }

.widget_vw_widget_social_profile .vw-site-social-tumblr {
  background-color: #314E6C; }

.widget_vw_widget_social_profile .vw-site-social-tumblr:hover {
  background-color: #6E8398; }

.widget_vw_widget_social_profile .vw-site-social-twitter {
  background-color: #55ACEE; }

.widget_vw_widget_social_profile .vw-site-social-twitter:hover {
  background-color: #88C4F3; }

.widget_vw_widget_social_profile .vw-site-social-vimeo {
  background-color: #1DA7CE; }

.widget_vw_widget_social_profile .vw-site-social-vimeo:hover {
  background-color: #60C1DC; }

.widget_vw_widget_social_profile .vw-site-social-yahoo {
  background-color: #44029A; }

.widget_vw_widget_social_profile .vw-site-social-yahoo:hover {
  background-color: #7C4DB8; }

.widget_vw_widget_social_profile .vw-site-social-youtube {
  background-color: #CC181E; }

.widget_vw_widget_social_profile .vw-site-social-youtube:hover {
  background-color: #DB5D61; }

  @media (max-width: 700px){
    .vw-social-counter {
      width: 70%;
      margin-right: 15%;
      margin-left: 15%;
}
    }

     @media (min-width: 850px){
    .vw-social-counter-icon {
     margin-left: 0px;
}
    }
