<section class="search" role="search">
    <!--<form id="cref" action="{% url 'googlesearch-results' %}">
      <input type="hidden" name="cref" value="http://simas.org.ni/busqueda/cref-cse.xml/" />
      <input type="hidden" name="cof" value="FORID:9" />
      <input id="search-input" type="text" role="search" value="Buscar..." name="q" id="q" onblur="if (this.value == '') { this.value = 'Buscar...';}" onfocus="if (this.value == 'Buscar...'){this.value = '';}" placeholder="Buscar...">
        <label for="search-input" class="ui-search"></label>
    </form>-->
    <form id="search-form" action="/search-general/", method="GET">
        <input id="search-input" type="text" role="search" value="Buscar..." name="q" id="q" onblur="if (this.value == '') { this.value = 'Buscar...';}" onfocus="if (this.value == 'Buscar...'){this.value = '';}" placeholder="Buscar...">
        <label for="search-input" class="ui-search"></label>
    </form>
</section>